header > h1 {
	width: calc(100% - 160px);
	text-align: center;
	font-size: 50px;
	color: white;
}
header > .top {
	position: absolute;
	left: 20px;
}
header > .top a.menu_icon i {
	color: #000;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: yellow;
}

/* nav.menu {
	width: 300px;
	min-height: calc(100vh - 121px);
	background-color: #03a9f4;
	position: absolute;
	left: -300px;
	transition: .3s all;
}

nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: #494949;
    text-transform: uppercase;
}

.menu_show {
	left: 0!important;
} */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.white-box {
  width: 80%;
  box-sizing: border-box;
  background-color: #E5E5E3;
  margin: 2.8% auto;
  font-size: 1em;
  text-align: left;
  padding: 1em;
}

.search-textbox {
  margin: 4% auto 1% auto;
}

input {
  padding: 1em;
}

h4, button {
  display: block;
  width: 100%;
  padding: 1em 0;
  background-color: grey;
  color: #E5E5E3;
}

label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

span {
  width: 70px;
  text-align: left;
}

button {
  width: 80%;
  font-size: 1em;
  margin: auto;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (min-width: 800px) {
	header h1 {
		font-size: 40px;
	}
}
@media screen and (min-width: 500px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}