header > h1 {
  font-family: "Josefin Sans", sans-serif;
  /* width: calc(100% - 160px); */
	text-align: center;
	font-size: 3.8em;
	color: white;
}
header > .top {
	position: absolute;
	left: 20px;
}
header > .top a.menu_icon i {
	color: #000;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: yellow;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

.add-edit {
  width: 75%;
  padding: 2em 3em;
  margin: 0 auto;
}

.add-edit > label {
  margin: 1em 0 0.35em 0;
  font-size: 1.3em;
  padding-left: 5px;
}

.add-edit > h2 {
  font-size: 2.5em;
  margin-top: 1em;
}

input:invalid {
  border: 3px solid red;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.white-box {
  width: 80%;
  box-sizing: border-box;
  background-color: #E5E5E3;
  margin: 2.8% auto;
  font-size: 1em;
  text-align: left;
  padding: 1em;
}

.search-textbox {
  margin: 4% auto 1% auto;
}

h4, button {
  display: block;
  width: 100%;
  padding: 0.5em 0;
  background-color: #E5E5E3;
  border-radius: 10px;
}

input, textarea {
  border-radius: 10px;
  text-align: left;
  font-size: 1em;
  padding: .5em;
}

label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

span {
  width: 70px;
  text-align: left;
}

button {
  width: 40%;
  font-size: 1em;
  margin: .25em auto;
}

.detail-partial {
  padding-bottom: 0;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


/* searches */
.book-info {
  width: 80%;
  margin: 3% auto 1.5% auto;
  box-sizing: border-box;
  background-color: #FBDB53;
  padding: 10% 9% 5% 9%;
  box-shadow: 7px 10px #FFD02E;
  border-radius: 10px; 
}

img {
  margin-bottom: 4%;
  width: 30%;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  color: #3D3D3D;
  margin-bottom: 1%;
}

.author {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-style: italic;
  color: #3D3D3D;
  margin-bottom: 6%;
}

.description {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #262626;
  line-height: 1.5em;
  margin-bottom: 5%;
  height: 6em;
  overflow: hidden;
  padding: 5px 15px;
}

.description:hover {
  overflow-y: auto;
}

@media screen and (min-width: 1000px) {
  nav.menu {
    width: 100%;
		left: -100%; 
  }
  
  img {
    width: 30%;
  }

  .book-info {
    width: 65%;
  }
  
}

.hide-me{
  display: none;
}