
<div class="top">
  <a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
</div>
<h1>Best Books!</h1>

<!-- <nav class="menu">
  <a href="#" class="item_menu">home</a>
  <a href="#" class="item_menu">about</a>
  <a href="#" class="item_menu">products</a>
  <a href="#" class="item_menu">services</a>
  <a href="#" class="item_menu">contact</a>
</nav> -->