<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
  <% include partials/head %>
</head>
<body>
  <header>
      <% include partials/header %>
  </header>
  <main>
    <% searchResults.forEach( book => { %>
        <h3><%= book.title %></h3>
    <% }) %>
  </main>
  <footer>
      <% include partials/footer %>
  </footer>
</body>
</html>